@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
font-family: 'Noto Sans Japanese', serif;
  font-style: normal;
  font-weight: 100;
}
    
header {
	background-color: black;
	max-width: 100%;
	overflow: hidden;
}


body {
	background-color: black;
	text-align: center;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}


#main {
	height: 100vh;
	background-image: url(../images/pat1.png);
}


section {
	height: 100vh;
	position: relative;
}

#nav01 {
	background-image:url(../images/pat2.jpg);
}


#nav_bar {
	border: 0;
	background-color: black;
	border-radius: 0px;
	margin-bottom: 0;
	height: 10vh;
	text-align: center;
}

.nav_links {
	margin: 0;
}

.nav_links li {
	display: inline-block;
	margin-top: 4px;
}

.nav_links li a {
	padding: 0 17.5px;
	color: white;
}

.nav_links li a:hover {

    color: #ffeb00;
}

.navbar-fixed {
	top: 0;
	z-index: 19;
	position: fixed;
	width: 100%;
}

#mainInner {
	width: 50vw;
	height: 65%;
	background-color: rgba(0, 0, 0, 0.71);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 50px;
	color: white;
	font-size: 75%;
    text-align: left;
    font-weight: 100;
}

video {
	max-width: 100%;
}

#nav01Inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	margin: 0;
}

footer a {
	display: inline-block;
	margin-top: 4px;
	padding: 0 35.5px;
	color: #535353;
    
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

footer a :hover {
	-webkit-transform: rotateZ(-30deg);
	-ms-transform: rotateZ(-30deg);
	transform: rotateZ(-350deg);
	color: #453a62;
    
}

#nav02 {
    height: 50vh;
	background-color: #FFF100;
    padding: 20px;
}





#CD {
    float: left;
    max-width: 50%;
    padding: 40px;
    padding-bottom: 100%;
}

#nav02Inner {
    width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	text-align: left;
	color: #000;
	font-size: 120%;
    
}

#nav03Inner {
    width: 40vw;
	height: auto;
	background-color: rgb(106, 79, 111);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	color: white;
	font-size: 120%; 
}

#nav03 {
    background-image: url(../images/pat3.jpg);
}

.trackL {
    float: left;
    width: 50%
}

.trackR {
    float: right;
    width: 50%
}

span {
    font-size: 80%;
    font-weight: 100;
}

td {
    font-weight: bold;
}


#title {
    width: 40%;
    display: inline;
    padding: 20px;
}

#liveTitle {
    filter: invert(0%);
    -webkit-filter: invert(100%);
}



#Live {
    padding: 20px;
    text-align: left;
}

button {
    padding: 10px 35px;
    background: #FFF100;
    overflow:hidden; 
    position: absolute;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    font-size: 150%;
    margin: 0;
    border: 0;
    font-family:"HelveticaNeue-Light";
    
}

button:before {
    font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease; 
}

button:hover:before {
    left: 7px;
}

article {
    padding: 10px;
}

#sidemenubutton {
    text-align: left;
    z-index: 400;
}

.over .button {
    position: relative !important;
}
